{% extends 'base.html.twig' %}

{% block title %}Panier des produits{% endblock %}

{% block body %}
  {% for message in app.flashes('info') %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('message') %}
    <div class="alert alert-message" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <div class="row">
    <div class="col">
      <h1>Votre panier</h1>
    </div>
    {% if panier is not empty %}
      <div class="col-2 d-flex justify-content-end align-items-center">
        {{ include('panier/_vider_panier.html.twig') }}
        {# <a class="btn btn-danger" href="{ { path('panier_vider') }}">Vider mon panier</a> #}
      </div>
    {% endif %}
  </div>

  <div class=" row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              {# <th scope="col">Id</th> #}
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Prix</th>
              <th scope="col">Quantité</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for produit in panier %}
              <tr>
                {# <input type="hidden" name="idProduit" value="{ { produit.produitId }}"> #}
                <td class="titre">{{ produit.produitNom }}</td>
                <td>{{ produit.produitDescription }}</td>
                <td>{{ produit.produitPrix }}
                  €</td>
                <td><input id="{{ produit.produitId }}" class="form-control quantite-panier" type="number" name="quantite" value="{{ produit.produitQuantite }}" min="1"></td>
                {# <td>{ { produit.produitQuantite }}</td> #}
                <td>
                  <a class="btn btn-success" href="{{ path('produit_show', {'slug': produit.produitSlug}) }}">Voir la fiche</a>
                  {{ include('panier/_supprimer_article_panier.html.twig') }}
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="6">Vous n'avez aucun produit dans votre panier.</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>Total</td>
              <td id="total">{{ total }} €</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('panier') }}
{% endblock %}
