{% extends 'base.html.twig' %}

{% block title %}{{'panier.index.title'|trans}}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('panier') }}
{% endblock %}

{% block body %}
  {% for message in app.flashes('info') %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('message') %}
    <div class="alert alert-message" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <div class="row">
    <div class="col">
      <h1>{{'panier.index.titre'|trans}}</h1>
    </div>
    {% if produits is not empty %}
      <div class="col-2 d-flex justify-content-end align-items-center">
        {{ include('panier/_vider_panier.html.twig') }}
      </div>
    {% endif %}
  </div>

  <div class=" row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped panier">
          <thead>
            <tr>
              <th scope="col">{{'produit.nom.not_blank'|trans}}</th>
              <th scope="col">{{'produit.description.not_blank'|trans}}</th>
              <th scope="col">{{'produit.prix.not_blank'|trans}}</th>
              <th scope="col">{{'panier.index.quantite'|trans}}</th>
              <th scope="col">{{'produit.options.not_blank'|trans}}</th>
            </tr>
          </thead>
          <tbody>
            {% for produit in produits %}
              <tr>
                <td class="titre">{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}
                  €</td>
                <td><input id="{{ produit.id }}" class="form-control quantite-panier" type="number" name="quantite" value="{{ produit.quantite }}" min="1"></td>
                <td id="options">
                  <a class="btn btn-success" href="{{ path('produit_show', {'slug': produit.slug}) }}" data-toggle="tooltip" data-placement="top" title="{{'produit.voir.fiche'|trans}}">
                    <i class="far fa-eye"></i>
                  </a>
                  {{ include('panier/_supprimer_article_panier.html.twig') }}
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="6">{{'panier.liste.vide'|trans}}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>Total</td>
              <td id="total">{{ total }} €</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="{{ path('produit_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;{{'panier.retour'|trans}}</a>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('panier') }}
{% endblock %}
