{% extends 'base.html.twig' %}

{% block title %}{{'produit.index.titre'|trans}}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      {% for message in app.flashes('message') %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      {% for info in app.flashes('info') %}
        <div class="alert alert-info" role="alert">
          {{ info }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>{{'produit.index.titre'|trans}}</h1>
    </div>
  </div>

  <div class="row" id="table-home">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{'produit.nom.not_blank'|trans}}</th>
            <th scope="col">{{'produit.description.not_blank'|trans}}</th>
            <th scope="col" id="prix">{{'produit.prix.not_blank'|trans}}</th>
            <th scope="col">{{'produit.image.not_blank'|trans}}</th>
            <th scope="col">{{'produit.options.not_blank'|trans}}</th>
          </tr>
        </thead>
        <tbody>
          {% for produit in produits %}
            <tr class="ligne_produit">
              <td scope="col">{{ produit.nom }}</td>
              <td>{{ produit.description }}</td>
              <td>{{ produit.prix }}
                €</td>
              <td>
                <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="{{'produit.alt.image'|trans}} {{ produit.nom }}" title="{{ produit.nom }}"/>
              </td>
              <td>
                <a class="btn btn-success" href="{{ path('produit_show', {'slug': produit.slug}) }}" data-toggle="tooltip" data-placement="top" title="{{'produit.voir.fiche'|trans}}">
                  <i class="far fa-eye"></i>
                </a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5">{{'produit.liste.vide'|trans}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
