{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
  {% for message in app.flashes('message') %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="col">
      <h1>{{ produit.nom }}</h1>
    </div>
  </div>
  <div class=" row">
    <div class="col">

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Description</th>
              <td>{{ produit.description }}</td>
            </tr>
            <tr>
              <th>Prix</th>
              <td>{{ produit.prix }}
                €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form class="form-inline" method="post">
        <input type="hidden" name="referer" value="app.request.headers.get('referer')">
        <input class="form-control mr-sm-3" type="number" min="1" name="quantite" value="1">
        <input class="form-control" type="submit" name="submit" value="Ajouter au panier">
      </form>
      <a href="{{ path('produit_index') }}">Retour à la liste</a>

    </div>
  </div>

{% endblock %}
